<h1>Menu</h1>



<div class="btn-group">
    <% @sections.each do |s| %>
        <%= link_to s.name, menu_path(section_id: s.id), class: "btn #{params[:section_id] == s.id.to_s ? 'btn-primary' : 'btn-secondary'}" %>
    <% end %>
</div>
<br>
<% if @current_section %>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Views</th>
            <th>
            <%= form_tag nil, method: 'get' do %>
                <%= select_tag :sort_column, options_for_select([ "name", "price" ], @sort_column), class: "custom-select mb-2 mr-sm-2 mb-sm-0" %>
                <%= select_tag :sort_direction, options_for_select([ "ascending", "descending" ], @sort_direction), class: "custom-select mb-2 mr-sm-2 mb-sm-0" %>
                <%= hidden_field_tag :section_id, params[:section_id] %>
                <%= submit_tag 'Sort', class: "btn btn-secondary" %>
            <% end %>
            </th>
        </tr>
    </thead>
    <tbody>
        <div class="tbody">
            <% @food_items.each do |item| %>
                <tr>
                    <td><%= link_to item.name, food_item_path(item.id) %></td>
                    <td><%= number_to_currency item.price %></td>
                    <td><%= image_tag item.image_url_or_default, height: '100', width: '100'%></td>
                    <td><%= item.count_views %></td>
                    <td><%= link_to 'Add to order', new_order_path(food_item_id: item.id), class: "btn btn-success" %></td>
                </tr>
            <% end %>
        </div>
    </tbody>
</table>
<% else %>
<br>
<br>
<div class="btn-group">
    <%= link_to "Please select the kind of food", menu_path, class: "btn btn-success" %>
</div>
<% end %>
