<h1>Menu</h1>

<div class="btn-group">
    <% @sections.each do |s| %>
        <%= link_to s.name, menu_path(section_id: s.id), class: "btn #{params[:section_id] == s.id.to_s ? 'btn-primary' : 'btn-secondary'}" %>
    <% end %>
</div>

<% if @current_section %>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <div class="tbody">
            <% @current_section.food_items.each do |item| %>
                <tr>
                    <td><%= item.name %></td>
                    <td><%= number_to_currency item.price %></td>
                    <td><%= image_tag item.image_url_or_default, height: '100', width: '100'%></td>
                    <td><%= link_to 'Add to order', new_order_path(food_item_id: item.id) %></td>
                </tr>
            <% end %>
        </div>
    </tbody>
</table>
<% end %>