<div class="container">

    <div class="row">


        <div class="col-md-9">

            <div class="thumbnail">
                <p style="text-align:center">
                    <%= image_tag @food_item.image_url, height: '300', width: '600', align: 'center' %>
                </p>
                <div class="caption-full">
                    <h4 style="text-align:left;">
                        <span> <%= number_to_currency @food_item.price %>  </span>
                        <% if @food_item.comments.present? %>
                        <span style="float:right;" ><%= '%.1f' % @food_item.comments.average(:star) %> stars  </span>
                        <% end %>
                    </h4>
                    <h4><a href="#">  <%= @food_item.name %> </a>
                    </h4>
                    <p> <%= @food_item.description %> </p>
                </div>
                <div class="ratings">
                    <p> <%= @food_item.count_views %> views </p> </div>
            </div>

            <div class="well">

                <div class="text-right">
                    <%= link_to 'Order', new_order_path(food_item_id: @food_item.id), class: "btn btn-success"%>
                </div>

                <hr>

                <% @comments.each do |comment| %>
                    <div class="row">
                        <div class="col-md-12">
                            <span><b><%= comment.commenter %></b></span>
                            <span style="float:right;"><%= time_ago_in_words(comment.created_at) %></span>
                            <p> &nbsp &nbsp<i><%= comment.body %></i></p>
                        </div>
                    </div>
                <% end %>
                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <%= form_for([@food_item, @food_item.comments.build]) do |f| %>
                          <p>
                            <%= f.label :commenter %><br>
                            <%= f.text_field :commenter %>
                          </p>
                          <p>
                            <%= f.label :star %><br>
                            <%= f.number_field :star %>
                          </p>
                          <p>
                            <%= f.label :body %><br>
                            <%= f.text_area :body %>
                          </p>
                          <p>
                            <%= f.submit %>
                          </p>
                        <% end %>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<br>


<%= link_to 'Edit', edit_food_item_path(@food_item) %> |
<%= link_to 'Back', menu_path(:section_id => @food_item.section_id) %>

